@charset "UTF-8";
div#interface{
  width: 1300px; 
  background-color:#9be3df; 
  margin: 0px auto  0px auto; 
  box-shadow: 5px 2px 2px 2px rgba(250,135,138, 0.5);
  padding: 0px 20px 10px 20px; 
}  
header h1#cabecalho{ 
  font-family: Britannic, sans-serif;  
  font-size: 50pt; 
  color: #f7898a; 
  text-shadow: 1px 1px 2px rgba(0,0,0,0.6); 
  text-align: center;
  border-bottom: 1px solid rgba(250,135,138, 0.8);
}
section{
  display: inline;
  flex-wrap: wrap;
  position: relative;
  left: 350px;
}
.dinheirinho {
  background-color: #f7ae60;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  font-size: 13pt ;
  margin: 4px 2px;
}
.pontos {
  background-color: #f7ae60;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  font-size: 13pt ;
  margin: 4px 2px;
}
.excluir {
  background-color: #f7ae60;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  font-size: 13pt ;
  margin: 4px 2px;
  cursor: pointer;
}
.excluir:hover{
  opacity: 0.5;
}
h6 {
color:red;
position: none;
}
.revelar {
  background-color: #f7ae60;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  font-size: 13pt ;
  margin: 4px 2px;
  cursor: pointer;
}
.revelar:hover{
  opacity: 0.5;
}
.tempo {
  background-color:#9be3df ;
  color: #f7ae60;
  font-size: 30pt;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6); 
  padding: 16px 32px;
  border: 2px solid  #f7ae60;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.6); 
  position: relative;
  top: -30px;
  left: 500px;
}
div#tempo h1#tempo{
  font-size: 30pt;
display: inline;
  font-family: Arial, 35pt;
  color:#f7ae60;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6); 
  position: relative;
  top: -30px;
  left: 500px;
}
.container, .front, .back {
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  border-radius: 4px; 
}
.container {
  margin: 12px auto;
  padding: 12px;    
}
.items {
  display: flex;
  width: 1250px;
  height: auto;
  flex-wrap: wrap;
  position: relative;
  left: 55px;
  margin-bottom: 25px;
}
.item {
  margin: 4px;
  padding: 12px;
  cursor: pointer;
  margin-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.card {
  perspective: 1000px;
  }
.card--opened .flipper {
  transform: rotateY(180deg);
    }
.card, .front, .back {
  width: 160px;
  height: 260px;
  background-color: #f7898a;
}
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.front, .back {
  padding: 6px;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.front {
  z-index: 2;
  transform: rotateY(0deg);
}
.back {
  transform: rotateY(180deg);
}
footer#rodape{
  clear:both; 
  border-top: 1px solid #fa878a;   
}
footer#rodape p{
    text-align : center;
    color: #ffe493;
    text-shadow:  1px 1px 1px rgba(0,0,0,0.5);
}
footer#rodape a{
  text-align : center;
  color: #ffe493;
  text-decoration: none;
}
footer#rodape a:hover{
  color: black;
  text-decoration: inderline;
}