@charset "UTF-8";
div#interface{
    width: 1300px; /* delimitar a largura*/
    background-color:#9be3df; /* cor do container*/
    margin: 0px auto  0px auto; /*medidas da margem cima/ direita /baixo/ esquerda*/
    box-shadow: 5px 2px 2px 2px rgba(250,135,138, 0.5); /* sombra envolta do objeto*/
    padding: 0px 20px 10px 20px; /* posicionar o texto sem estar colado nas bordas*/
}
header h1#cabecalho{ /*configurando o titulo "Jogo da memória"*/
    font-family: Britannic, sans-serif;  /*font e o efeito especial*/
    font-size: 50pt; /*tamanho letra*/
    color: #f7898a; /*cor letra*/
    text-shadow: 1px 1px 2px rgba(0,0,0,0.6); /*sombra no texto*/
    text-align: center;/*texto centralizado*/
    border-bottom: 1px solid rgba(250,135,138, 0.8);
    
    /*linha em baixo do texto*/
}
header input#voltar{
    font-family: Arial;
    font-size: 20pt;
    color:#f7ae60;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6); 
}
header a input#voltar{
    display: inline-block;
    outline: none;
    background-size: 70px 70px;
    margin-bottom: 20px;
    background-color: #f7898a;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    top: -118px;
    left: 170px;
}
header a input#voltar:hover{
    opacity: 0.5;
}
header#cabecalho-ranking h1 {
    display: block;
    font-family: Arial, 35pt;
    color:#f7ae60;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6); /*sombra no texto*/
    padding-left: 600px;
    position: relative;
    top: -110px;
}

.opcao{
    display: inline;
    cursor: pointer;
    background-color: #f7ae60;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
} 
.opcaolink{
    text-decoration: none;
    cursor: pointer;
}
.opcao:hover{
    opacity: 0.5;
}
.box{
    margin: 0 auto;
    padding: 0 20%;
}
.box--center{
    display: flex;
    justify-content: center;
}
.lista{
    display: flex;
    flex-wrap: wrap;
}
.lista li{
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 10px 0;
    position: relative;
}
.lista li#posicao1{
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 10px 0;
    position: relative;
}
.lista li img{
    position:absolute;
    top:5px;
    left: 0;
}
.lista li span{
    font-size: 15px;
    width: 250px;
    padding: 12px;
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-around;

 
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #f5b877;
    border-color: #f5b877;
}
footer#rodape{
    clear:both; /* que o conteúdo fique fora da configuração*/
    border-top: 1px solid #fa878a;   
    padding-top: 15px;
}
footer#rodape p{
    text-align : center;
    color: #ffe493;
    text-shadow:  1px 1px 1px rgba(0,0,0,0.5);
}
footer#rodape a{
    text-align : center;
    color: #ffe493;
    text-decoration: none;
}
footer#rodape a:hover{ /* faz a letra do menu mudar de cor */
    color: black;
    text-decoration: inderline;
}